/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/* styles.css */
.root {
    -fx-background-color: lightblue;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: darkblue;
    -fx-color: red;
}

.button {
    -fx-background-color: darkblue;
    -fx-text-fill: white;
}

.text {
	
}